@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --primary: #8282ff;
  --dark: #3b3530;
  --white: #fff;
  --danger: #f44336;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-div {
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 6px;
}

.task-input {
  height: 40px;
}

.task-input input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary);
  outline: none;
  border-radius: 4px;
  padding: 0 0 0 20px;
}

.ctr-div {
  margin: 10px 0;
}

.ctr-div span {
  margin: 0 4px;
  font-weight: 400;
}

.ctr-div span.active {
  color: var(--primary);
}

.clear-btn {
  background-color: #8282ff;
  color: var(--white);
  padding: 8px 14px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.todos-list {
  margin-top: 10px;
}

.todo-items {
  list-style: none;
  margin: 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-items span {
  font-weight: 500;
  margin-left: 4px;
}

.todos-list div i {
  margin-left: 6px;
  cursor: pointer;
}

.edit-ic {
  color: var(--primary);
}

.delete-ic {
  color: var(--danger);
}
